* html, body{

    padding: 0;
    margin: 0

}

.cabecalho {


    background-color: blueviolet;
    color: aliceblue;
    margin-top: -20px; /* Remove margem padrão do div */
    padding: 30px; /*Define tamanho do cabelho*/
    text-align: center;
}


.conteudo-principal{


    background-color: rgb(29, 24, 34);
    color: aliceblue;
    margin-top: 0; /* Remove margem padrão do div */
    padding: 300px; /*Define tamanho do campo*/
  

}

.conteudo-secundario{

    
    background-color:blue;
    color: aliceblue;
    margin-top: 0; /* Remove margem padrão do div */
    padding: 400px; /*Define tamanho do campo*/
    text-align: center;/*Define texto centralizado*/

}

.conteudo-principal img{

float: right;
width: 500px;
right: 650px;
margin-top: -350px;
opacity: 95%;


}

.rodape-left{

    background-color: rgb(189, 38, 38);
    color: aliceblue;
    width: 50%;
    margin-right: 50%;
    margin-top: 0px; /* Remove margem padrão do div */
    padding: 30px; /*Define tamanho do cabelho*/
    display: inline-block;

}